FIREBASE_PROJECT_ID=auction-market-local
GCLOUD_PROJECT=auction-market-local
FIRESTORE_EMULATOR_HOST=127.0.0.1:8080
FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
FIREBASE_STORAGE_EMULATOR_HOST=127.0.0.1:9199
